################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AspnetCoreAPIWithMongoDB/AspnetCoreAPIWithMongoDB/bin/Debug/netcoreapp3.1
/AspnetCoreAPIWithMongoDB/.vs/AspnetCoreAPIWithMongoDB
/AspnetCoreAPIWithMongoDB/AspnetCoreAPIWithMongoDB/obj
